<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59694932332-u02pouscdaijkb7npi6s97f17v1mp7ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59694932332-u02pouscdaijkb7npi6s97f17v1mp7ot</string>
	<key>API_KEY</key>
	<string>AIzaSyBBJPle3ARIsFFYcW2h2w_YmS44UEA-hEs</string>
	<key>GCM_SENDER_ID</key>
	<string>59694932332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inputhealth.chrconnecthpdraft</string>
	<key>PROJECT_ID</key>
	<string>chr-connect-hp-draft</string>
	<key>STORAGE_BUCKET</key>
	<string>chr-connect-hp-draft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59694932332:ios:c1926362f4320439931349</string>
</dict>
</plist>